<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let car of cars">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <mat-icon mat-list-icon>drive_eta</mat-icon>
        </div>
        <mat-card-title>{{car.name}}</mat-card-title>
        <mat-card-subtitle>{{car.ownerDniChar}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{car.giphyUrl}}" alt="{{car.name}}" width="432" height="275" style="margin-bottom: 0px">
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="warn" [routerLink]="['/car-edit', car.id]">Edit</button>
        <button mat-stroked-button color="warn" (click)="remove(car.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>