<mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let owner of owners">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-image">
                    <mat-icon mat-list-icon>sentiment_very_satisfied</mat-icon>
                </div>
                <mat-card-title>{{owner.name}}</mat-card-title>
                <mat-card-subtitle>{{owner.dni}}</mat-card-subtitle>
                <mat-card-subtitle>{{owner.profession}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="warn"
                    [routerLink]="['/owner-edit', owner._links.self.href]">Editar</button>
                <button mat-stroked-button color="warn" (click)="remove(owner._links.self.href)">Eliminar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>