<mat-grid-list cols="3">
    <mat-car-title>
        <mat-slide-toggle class="margin" [color]="warn" [(ngModel)]="checked">
            Slide to {{checked ? 'cancel selection' : 'select which remove'}}
        </mat-slide-toggle>
    </mat-car-title>
    <mat-car-title>
        <button mat-stroked-button color="warn" (click)="removeSelected($event)" *ngIf="checked" [disabled]="checkedBool">Remove Selection</button>
    </mat-car-title>
    <mat-grid-tile *ngFor="let owner of owners">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-image">
                    <mat-icon mat-list-icon>sentiment_very_satisfied</mat-icon>
                </div>
                <mat-card-title>{{owner.name}}</mat-card-title>
                <mat-card-subtitle>{{owner.dni}}</mat-card-subtitle>
                <mat-card-subtitle>{{owner.profession}}</mat-card-subtitle>
                <div><mat-checkbox [(ngModel)]="owner.check" *ngIf="checked" (change)="changeEvent($event)"></mat-checkbox></div>
            </mat-card-header>
            <mat-card-actions>
                <button mat-stroked-button color="warn" [routerLink]="['/owner-edit', owner._links.self.href]">Editar</button>
                <button mat-stroked-button color="warn" (click)="remove(owner._links.self.href)">Eliminar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>